.App {
  text-align: center;
}

.Row {
  margin-bottom: 0.5em;
}

.LogSelect {
  min-width: 20em;
}

th {
  text-align: center;
}

/* Set font-size to prevent "auto zoom" on focus. */
select, input[type='number'], input[type='text'] {
  font-size: 16px;
}
